@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Dancing+Script:wght@500&family=Kanit:ital,wght@1,300&family=Oxygen&family=Rubik&display=swap");

body {
  margin: 0;
}

.grid {
  margin: auto;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 330px;
  height: 330px;
  font-family: "Comic Neue", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Rubik", sans-serif;

  > div {
    display: flex;
    text-transform: uppercase;
    font-size: 80px;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 3px 3px rgba(255, 255, 255, 1);
  }
  > div:nth-child(odd) {
    background-color: rgb(153, 24, 24);
  }
  > div:nth-child(even) {
    background-color: rgb(32, 0, 119);
  }
}
